.gallery-title {
  margin: 2.604vw;
  font-size: 2.604vw;
  text-align: center;
  background-color: #fcdec0;
  padding: 1.302vw;
  display: flex;
  border-radius: 13.021vw;
  color: #7d5a50;
  box-shadow: 0.13vw 0.26vw 0.651vw rgba(0, 0, 0, 0.15);
}

.image-preview {
  box-shadow: 0.13vw 0.26vw 0.651vw rgba(0, 0, 0, 0.2);
  background-color: #ffb26f;
  border-radius: 1.302vw;
  width: 26.042vw;
}
.image-text-box {
  margin-left: 1.953vw;
  margin-right: 1.953vw;
}

.image-title {
  padding: 0.326vw;
  text-align: center;
  font-size: 1.302vw;
  font-weight: 700;
  color: #4d2c1d;
  border: solid 0;
  border-radius: 0.977vw;
  background-color: #ffcf9d;
  cursor: pointer;
  transition: opacity 0.1s;
  box-shadow: 0.13vw 0.26vw 0.651vw rgba(0, 0, 0, 0.15);
}

.image-title:hover,
.label-text:hover {
  opacity: 0.8;
}

.image-title:active,
.label-text:active {
  opacity: 0.7;
}

.image-text {
  text-align: center;
  color: #4d2c1d;
  padding-left: 1.302vw;
  padding-right: 1.302vw;
}

.label-text {
  margin-left: 4.557vw;
  width: 13.021vw;
  background-color: #fcdec0;
  color: #4d2c1d;
  border-radius: 0.326vw;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.1s;
  box-shadow: 0.13vw 0.26vw 0.651vw rgba(0, 0, 0, 0.15);
}

#ch1,
#ch2,
#ch3,
#ch4,
#ch5,
#ch6,
#ch7,
#ch8,
#ch9,
#ch10,
#ch11,
#ch12 {
  display: none;
}

.text-content {
  display: none;
}

#ch1:checked ~ .text-content,
#ch2:checked ~ .text-content,
#ch3:checked ~ .text-content,
#ch4:checked ~ .text-content,
#ch5:checked ~ .text-content,
#ch6:checked ~ .text-content,
#ch7:checked ~ .text-content,
#ch8:checked ~ .text-content,
#ch9:checked ~ .text-content,
#ch10:checked ~ .text-content,
#ch11:checked ~ .text-content,
#ch12:checked ~ .text-content {
  display: block;
}

#ch1:checked ~ label,
#ch2:checked ~ label,
#ch3:checked ~ label,
#ch4:checked ~ label,
#ch5:checked ~ label,
#ch6:checked ~ label,
#ch7:checked ~ label,
#ch8:checked ~ label,
#ch9:checked ~ label,
#ch10:checked ~ label,
#ch11:checked ~ label,
#ch12:checked ~ label {
  display: none;
}

.text-content {
  display: none;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3.255vw;
  grid-row-gap: 3.255vw;
}

@media (min-width: 0px) and (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
  .image-preview {
    width: 35.042vh;
  }
  .gallery-title {
    margin: 2.604vh;
    font-size: 2.604vh;
    padding: 1.302vh;
  }
  .image-text {
    padding-left: 1.302vh;
    padding-right: 1.302vh;
  }

  .label-text {
    margin-left: 9.557vh;
    width: 13.021vh;
    border-radius: 0.326vh;
  }
  .image-title {
    padding: 0.326vw;
    text-align: center;
    font-size: 3.302vw;
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }
  .image-preview {
    width: 45.042vh;
  }
  .gallery-title {
    margin: 2.604vh;
    font-size: 3.604vh;
    padding: 1.302vh;
  }
  .image-text {
    padding-left: 1.302vh;
    padding-right: 1.302vh;
  }

  .label-text {
    margin-left: 9.557vh;
    width: 13.021vh;
    border-radius: 0.326vh;
  }
  .image-title {
    padding: 0.326vw;
    text-align: center;
    font-size: 3.302vh;
  }
}

@media (min-width: 1000px) and (max-width: 1600px) {
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.image {
  border-top-left-radius: 1.302vw;
  border-top-right-radius: 1.302vw;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%;
}
