body {
  background-image: url(/WDAI/Projekt_01/images/background-paws-original.jpg);
  background-position: center;
  background-attachment: local;
  background-color: #ffcf9d;
  background-size: 85%;
  color: #de8f5f;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
