@font-face {
  font-family: myFirstFont;
  src: url(/WDAI/Projekt_01/fonts/MeowPaw-51Arz.ttf);
}

@font-face {
  font-family: clockFont;
  src: url(/WDAI/Projekt_01/fonts/OrientalCatsLight-2OzB8.otf);
}

.clock-container {
  font-size: 1.042vw;
}

.header {
  background-color: #ffb38e;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.906vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-style: solid;
  border-width: 0.065vw;
  border-color: #4f4e4e;
}

.middle-section {
  text-shadow: -0.065vw 0.065vw 0 #000, 0.065vw 0.065vw 0 #000,
    0.065vw -0.065vw 0 #000, -0.065vw -0.065vw 0 #000;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 13.021vw;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6.6vw;
  height: 100%;
}

.left-section .clock-container {
  display: flex;
  background-color: #de8f5f;
  border-radius: 2.604vw;
  padding: 0.651vw 1.302vw;
  align-items: center;
  margin-left: 1.563vw;
}

.left-section .clock {
  font-family: clockFont, Roboto, Arial;
  font-size: 2.2em;
  color: #f2f2f2;
  letter-spacing: 0.098vw;
  display: flex;
  align-items: center;
  width: 13.021vw;
  justify-content: flex-end;
}

.left-section .clock span {
  padding: 0 0.391vw;
}

.left-section .clock span#hrs,
.left-section .clock span#min,
.left-section .clock span#sec {
  min-width: 2.279vw;
  text-align: center;
}

.right-section {
  height: 100%;
  width: 20.833vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 1.563vw;
}

.button-icon {
  height: 1.953vw;
}

.navbar {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar p {
  flex: 1;
  text-align: center;
  text-decoration: none;
  margin: 0 0.651vw 0 0.651vw;
  font-size: 1.107vw;
}

.title {
  flex: 1;
  text-align: center;
  color: #f2f2f2;
  font-family: MyFirstFont;
  font-size: 3.906vw;
}

.link-button {
  height: 2.604vw;
  width: 100%;
  border-radius: 3.255vw;
  color: #f2f2f2;
  background-color: #de8f5f;
  border-width: 0;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
  position: relative;
}

.link-button:hover {
  height: 2.604vw;
  border-radius: 3.255vw;
  color: black;
  background-color: #ffcf9d;
}

.left-button-text {
  flex: 1;
  text-align: center;
  text-decoration: none;
  margin: 0 0.651vw 0 0.651vw;
  color: #f2f2f2;
  font-size: 1.107vw;
}

.link-button .tooltip {
  position: absolute;
  background-color: #ab886d;
  color: white;
  padding-top: 0.26vw;
  padding-bottom: 0.26vw;
  padding-left: 0.521vw;
  padding-right: 0.521vw;
  border-radius: 0.326vw;
  font-size: 0.781vw;
  bottom: -1.953vw;
  left: -1.302vw;
  opacity: 0;
  transition: opacity 0.4s 0.4s;
  pointer-events: none;
  text-wrap: nowrap;
}

.link-button:hover .tooltip {
  opacity: 1;
}

.footer {
  font-size: 1.042vw;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  color: #4d2c1d;
  background-color: #ffb38e;
  border-style: solid;
  border-width: 0.065vw;
  border-color: #4f4e4e;
}

/* Media Queries for Header Responsiveness */

/* Medium screens (Tablets, small desktops) */
@media (max-width: 1024px) {
}

/* Small screens (Large phones, small tablets) */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .footer {
    font-size: 3vh;
  }
}
