.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-icon {
  height: 1.953vw;
}

.main-ad {
  margin-top: 3.255vw;
  background-color: #ffb26f;
  padding-left: 3.255vw;
  display: flex;
  flex-direction: row;
  height: 26.042vw;
  justify-content: space-between;
}

.text-container {
  flex: 1.5;
  max-width: 78.125vw;
}

.home-image-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 3.255vw;
}

.home-main-img {
  border-radius: 1.302vw;
  height: 100%;
  justify-content: space-between;
}

.home-main-text {
  color: #4d2c1d;
  font-size: 1.172vw;
  margin-left: 1.302vw;
  padding-bottom: 1.302vw;
}

.home-main-title {
  color: #fcfaf6;
  font-size: 2.604vw;
  font-weight: 500;
  text-shadow: 0.13vw 0.13vw 0.26vw rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #de8f5f, #ff9e6d);
  border-radius: 3.906vw;
  padding: 1.302vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advertisement-title {
  margin-top: 1.953vw;
  font-size: 2.604vw;
  background-color: #de8f5f;
  border-radius: 5.208vw;
  padding: 1.302vw;
  color: #fff;
}

.advertisement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertisement-panes {
  margin: 0.651vw 6.51vw 1.302vw 6.51vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.604vw;
}

.advertisement-panel {
  flex: 0 1 19.531vw;
  background-color: #ffb26f;

  box-shadow: 0.13vw 0.26vw 0.651vw rgba(0, 0, 0, 0.15);
  height: 19.531vw;
  width: 19.531vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1.302vw;
  margin: 0.651vw;
}

.advertisement-panel-text {
  font-size: 1.042vw;
  color: #4e342e;
  width: 100%;
  text-align: center;
}

.advertisement-button {
  font-size: 1.302vw;
  height: 3.255vw;
  border-radius: 3.255vw;
  color: #4d2c1d;
  background-color: #ffb38e;
  border-width: 0;
  transition: background-color 0.15s, color 0.15s;
  margin-bottom: 2.604vw;
  padding: 0 1.953vw;
  cursor: pointer;
}

.advertisement-button:hover {
  color: #4d2c1d;
  background-color: #ffcf9d;
}

.advertisement-button:active {
  color: #4d2c1d;
}

.button-link {
  height: 3.255vw;
}

@media (min-width: 0px) and (max-width: 600px) {
  .main-ad {
    margin-top: 3.255vh;
    background-color: #ffb26f;
    padding-left: 3.255vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .home-main-img {
    border-radius: 1.302vh;
    width: 100%;
  }

  .home-image-container {
    width: 100%;
  }

  .home-main-text {
    color: #4d2c1d;
    font-size: 2.4vh;
    margin-left: 1.302vh;
    padding-bottom: 1.302vh;
  }

  .home-main-title {
    font-size: 3.204vh;
    border-radius: 5.906vh;
    padding: 2.302vh;
  }
  .button-link {
    height: 3.255vh;
  }
  .text-container {
    max-width: 50.125vh;
  }
  .advertisement-title {
    margin-top: 1.953vh;
    font-size: 2.604vh;
    border-radius: 6.208vh;
    padding: 1.302vh;
  }

  .advertisement-panes {
    margin: 0.651vh 6.51vh 1.302vh 6.51vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.604vh;
  }

  .advertisement-panel {
    height: 30.531vh;
    width: 30.531vh;
    border-radius: 50%;
    padding: 5vh;
    margin: 0.651vh;
  }

  .advertisement-panel-text {
    font-size: 2.042vh;
  }

  .advertisement-button {
    font-size: 2.602vh;
    height: 100%;
    border-radius: 3.255vh;
    margin-bottom: 6.604vh;
    padding: 0 1.953vh;
  }

  .button-link {
    height: 7.255vh;
    font-size: 5vh;
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  .main-ad {
    margin-top: 3.255vh;
    background-color: #ffb26f;
    padding-left: 3.255vh;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
  }
  .home-main-img {
    border-radius: 1.302vh;
    max-width: 400px;
    max-height: 300px;
  }

  .home-image-container {
    width: 100%;
  }

  .home-main-text {
    color: #4d2c1d;
    font-size: 2.4vh;
    margin-left: 1.302vh;
    padding-bottom: 1.302vh;
  }

  .home-main-title {
    font-size: 2.604vh;
    border-radius: 3.906vh;
    padding: 1.302vh;
  }
  .button-link {
    height: 3.255vh;
  }
  .text-container {
    max-width: 50.125vh;
  }
  .advertisement-title {
    margin-top: 1.953vh;
    font-size: 6.604vh;
    border-radius: 15.208vh;
    padding: 5.302vh;
  }

  .advertisement-panes {
    margin: 0.651vh 6.51vh 1.302vh 6.51vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.604vh;
  }

  .advertisement-panel {
    height: 60.531vh;
    width: 60.531vh;
    border-radius: 50%;
    padding: 10vh;
    margin: 0.651vh;
  }

  .advertisement-panel-text {
    font-size: 4.042vh;
  }

  .advertisement-button {
    font-size: 4.602vh;
    height: 100%;
    border-radius: 3.255vh;
    margin-bottom: 6.604vh;
    padding: 0 3.953vh;
  }

  .button-link {
    height: 7.255vh;
    font-size: 5vh;
  }
}

@media (min-width: 1000px) and (max-width: 1300) {
  .main-ad {
    margin-top: 3.255vh;
    background-color: #ffb26f;
    padding-left: 3.255vh;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
  }
  .home-main-img {
    border-radius: 1.302vh;
    width: 100%;
  }

  .home-image-container {
    width: 100%;
  }

  .home-main-text {
    color: #4d2c1d;
    font-size: 2.4vh;
    margin-left: 1.302vh;
    padding-bottom: 1.302vh;
  }

  .home-main-title {
    font-size: 3.604vh;
    border-radius: 3.906vh;
    padding: 1.302vh;
  }
  .button-link {
    height: 3.255vh;
  }
  .text-container {
    max-width: 50.125vh;
  }
  .advertisement-title {
    margin-top: 1.953vh;
    font-size: 3.604vh;
    border-radius: 6.208vh;
    padding: 1.302vh;
  }

  .advertisement-panes {
    margin: 0.651vh 6.51vh 1.302vh 6.51vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.604vh;
  }

  .advertisement-panel {
    height: 30.531vh;
    width: 30.531vh;
    border-radius: 50%;
    padding: 5vh;
    margin: 0.651vh;
  }

  .advertisement-panel-text {
    font-size: 2.042vh;
  }

  .advertisement-button {
    font-size: 2.602vh;
    height: 100%;
    border-radius: 3.255vh;
    margin-bottom: 6.604vh;
    padding: 0 1.953vh;
  }

  .button-link {
    height: 7.255vh;
    font-size: 5vh;
  }
}
